.js-card {
  margin-top: 20px;
}
img {
  width: 300px;
}
h2 {
  width: 60%;
}
.fav {
  border: 5px solid gold;
}
section {
  display: flex;
  justify-content: space-between;
}
.js-container-favorites {
  display: flex;
  flex-direction: column;
}
